.input-group{
    margin-bottom: 7px;
}

.btn-group{
    margin-bottom: 7px;
    margin-left: 9%;
}

.code{
    display: inline-table;
}

#code_img{
    width: 6%;
    margin-left: 1%;
    margin-top: -1%;
    background-color: blue;
}