<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>民国人物</title>
    <link href="Resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="Resources/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="Resources/css/Frame.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" id="header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        </button>
        <a class="navbar-brand" href="index" id = "title">民国人物资源库</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="javascript:;" id = "search_info">数据查询</a></li>
            <li><a href="javascript:;" id = "input_info">信息输入</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" id = "reg_log">
            <li><a href="javascript:;" id = "register">注册</a></li>
            <li><a href="javascript:;" id = "login">登录</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<iframe src="Main" frameborder="0" scrolling="no" style="width: 100%;"></iframe>
<div class = "copyright">
    <hr/>
    <footer></footer>
</div>

<script src="Resources/js/jquery.js"></script>
<script src="Resources/js/bootstrap.min.js"></script>
<script src="Resources/js/Frame.js" ></script>
</body>
</html>