<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>民国人物</title>
    <link href="Resources/css/Main.css" rel="stylesheet"/>
    <script src="Resources/js/jquery.js"></script>
</head>
<body>
    <div class = "container">
        <div id = "header">
            <h1>民国人物资源库</h1>
            <p>请访问民国人物资源库。为更好地使用新增加的功能，请注册并登录。</p>
            <p>若您有好的建议和意见，请联系本人或致信<a href="mailto:xxx@xxx.edu.cn">xxx@xxx.edu.cn</a></p>
        </div>
    </div>
</body>
</html>